/* RESET */


/* VARIABLES */
:root {
  --green-core: #2BA735;
  --bg: #ffffff;
}

/* GLOBAL */


/* SVG SHARPNESS */
svg {
  shape-rendering: geometricPrecision;
}

/* LOADER SCREEN */
#loader {
  position: fixed;
  inset: 0;
  background: var(--bg);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999;
}

/* LOGO WRAPPER */
.logo-stage {
  position: relative;

  width: 160px;
  height: 98px;
}

/* BOTH SVG LAYERS */
.logo-ghost,
.logo-fill {
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* GHOST OUTLINE */
.logo-ghost {
  opacity: 0;
}

/* OUTLINE STYLE */
.logo-ghost svg path {
  fill: none;
  stroke: #b7cbb9;
  stroke-width: 0.4px;
}

/* FILLED LOGO */
.logo-fill svg {
  filter: none;
}